.update-button-container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.update-button {
    background-color: #DE7456;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    color: white;

    
}

.update-button:hover {
    cursor: pointer;
}


.yes-btn {
    background-color: #DE7456;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    color: white;
}
.no-btn {
    background-color: #DE7456;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    color: white;
}

.delete-button-container button {
    background-color: #DE7456;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    color: white;
}

.delete-button-container button:hover {
    cursor: pointer;
}

