.update-form-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
    background-color: #ede8f5;
}

.update-h1 {
    color: #3d52a0;
}