* {
    /* background-color: #EDE8F5; */
    padding: 0px;
    margin: 0px;
}

.spots-con {
    display: flex;
    flex-wrap: wrap;
    padding: 110px 25px;
    margin: 30px;
    gap: 32px;
    background-color: none;

      
}

.spot-landing-con-home {
    width: 23%;
    padding-top: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #EDE8F5;
    
}

h3.spot-location {
    font-size: 25px;
    color: #3D52A0;
}

.spots-stars {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot-price {
    font-size: 20px;
}



.spot-image {
    width: 95%;
    height: 350px;
    padding: 25px;
    padding: 10px;
    border-radius: 15%;

}

.spot-location-info-con {
    width: 100%; 
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding-right: 10px;
    padding-top: 25px;
    
}

.spot-location-info-con *{
    padding: 10px;
    display: flex;
    align-items: center;

}
.spot-location-rating {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.spot-rating-con {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

p.spots-stars {
    font-size: 25px;
}


svg.fa-star {
    width: 25px;
    height: 25px;
    padding: 10px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

.spot-location-info-con .spots-stars {
    padding: 0;
    margin: 0;
}

.spot-landing-con-home:hover {
    box-shadow: 20px 20px 50px lightslategrey;

}





.spot-location {
    color: black;
    text-decoration: none;

}

.spot-image-home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-tooltip {
    visibility: hidden;
    position: absolute;
    
}

.spot-image-home:hover .title-tooltip {
    visibility: visible;
}





