.profile-dropdown {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.navigation-con {
  padding-right: 15px;
}
.fas {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #EDE8F5;
  border-color: blanchedalmond;
  text-decoration: none;

}

.zbnb-logo {
  background-color: #3D52A0;
  color: #ADBBDA;
  height: 50px;
  width: 50px;
  padding-bottom: 5px;
}

.fa-user-circle {
  color: #3D52A0;
  padding: 5px;
  
  

}

path {
  width: 15px;
  height: 15px;
}

.fa-user-circle path {
  color: #3D52A0;
  width: 25px;
  height: 25px;
  
}


.create-spot {
  background-color: #3D52A0;
  color: #EDE8F5;
  font-size: 20px
}


button {
  border: none;
}

.navigation-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #3D52A0;
  justify-content: space-between;
  background-color: #3D52A0;
  text-decoration: none;

}

.right-buttons {
  padding-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px; 
  list-style: none;
  background-color: #3D52A0;
  
}

a.active {
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  
}

.logo {
  font-size: 60px;
  background-color: #3D52A0;
  list-style: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}




.hidden {
  display: none;
}
.home-link-con {
  padding: 15px;
  margin: 15px;
}


