/* .profile-dropdown {
    display: none;
    position: absolute;
    background-color: lightcyan;
    min-width: 200px;
    height: 75px;
    right: 27px;
    z-index: 1;
    border: 2px solid red
} */

.drop-downbox {
    height: 75px;
    width: 145px;
    border: 2px solid #DE7456;
    position: absolute;
    right: -127px;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.drop-downbox li {
    list-style: none;
    font-size: 20px;
    font-weight: 200;
    font-family: "Bebas Neue", sans-serif;
}


