.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 500px;
    background-color: #ede8f8;
}

#modal {
    background-color: rgba(0, 0, 0, 0.4);
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 30px;
    background-color: #ede8f8;

}

.h1-con {
    background-color: #ede8f8;
    color: #43597D;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 15px;
}
.input {
    width: 300px;
    height: 25px;
    padding: 5px;
}

.btn-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    background-color: #ede8f8;
    gap: 15px;
}

.submit-btn {
    width: 315px;
    height: 50px;
    background-color: #3D52A0;
    color: white;
    border: 2px solid #43597D;
    

}

.submit-btn:hover {
    cursor: pointer;
    
    
}

.submit-btn:disabled:hover {
    cursor: not-allowed;
    box-shadow: 0px 0px 15px red
    
}

.demo-btn {
    text-decoration: underline;
    padding-top: 15px;
    background-color: #ede8f8;
    font-size: 20px;
    color: #3D52A0;
}

.login-box .errors-mess {
    background-color: #ede8f8;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-button:disabled:hover {
    box-shadow: 0px 0px 15px red
}